@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/main-content";
@import "layout/footer";

.main-wrapper {
    background: #ffffff;
}

.container {
    width: 1175px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.main__route {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.main__link {
    @include font(Oswald, normal, 300, 20px, 31px, #b4b4b4);
    text-decoration: none;
}

.main__title {
    margin-top: 20px;
    @include font(Oswald, normal, 400, 30px, 31px, #000000);
    text-align: center;
}