.aside {
    width: 325px;
    border: 1px solid #9fbf30;
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    &__inner {
        padding-top: 25px;
        padding-right: 25px;
        padding-left: 15px;
        border-bottom: 1px solid #9fbf30;
    }
}

.category {
    &__title {
        @include font(Oswald, normal, 300, 20px, 40px, #000000);
    }
    &__subtitle {
        display: flex;
        align-items: center;
    }
    &__dropdown {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
    }
    &__dropdown > img {
        transition: 0.2s ease;
    }
    &__subfilter {
        margin: 15px 0 20px 29px;
        display: none;
        flex-direction: column;
        transform: translateY(-4em);
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        opacity: 0;
    }
    &__list {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    &__item {
        @include font(Oswald, normal, 300, 20px, 40px, #3e3e3e);
    }
    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__input {
        width: 19px;
        height: 19px;
        margin: 0 10px 0 0;
        &--from,
        &--to {
            width: 83px;
            height: 36px;
            padding-left: 30px;
            border: 1px solid #b4b4b4;
            border-radius: 2px;
            box-sizing: border-box;
            @include font(Oswald, normal, 300, 20px, 36px, #a3a3a3);
        }
        &--from {
            margin-right: 30px;
        }
        &--to {
            margin-right: 15px;
        }
        &--submit {
            width: 89px;
            height: 39px;
            border: 1px solid #000000;
            border-radius: 19px;
            background: none;
            box-sizing: border-box;
            @include font(Oswald, normal, 300, 20px, 36px, #000000);
            outline: none;
            cursor: pointer;
        }
        &--range {
            width: 100%;
            margin-bottom: 30px;
            box-sizing: border-box;
        }
        &--hidden {
            display: none;
        }
    }
    &__inputs,
    &__colors {
        margin: 15px 0 35px -15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__color {
        width: 45px;
        height: 31px;
        background-color: #c9c9c9;
        border-radius: 2px;
        &--s {
            background-color: #9fbf30;
        }
        &--t {
            background-color: #ebebeb;
        }
        &--fo {
            background-color: #a3a3a3;
        }
        &--fi {
            background-color: #ebebeb;
        }
    }
}

.transform-arrow {
    transform: rotate(540deg);
}

.show-subfilter {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.block-subfilter {
    display: flex;
}
